ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px;
}

li:nth-of-type(2n+1) {
    background: #f9f9f9;
}


.messageUser {
    padding: 0 5px;
    font-weight: bold;
}

.messageText {
    background: #000;
}

.topBar {
    position: relative;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}

.button {
    font-size: 14px;
    background: #a9e2a9;
    position: absolute;
    right: 5px;
    top: 10px;
    padding: 5px;
    /*margin: 5px 5px 5px auto;*/
    display: block;
    display: none;
    font-weight: bold;
    border-radius: 2px;
}

input {
    margin: 0 0 0 15px;
    max-width: 150px;
    /*border-color: #cdcdcd;*/
    border: 1px solid #cdcdcd;
    padding: 3px;
    border-radius: 2px;
}
